*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

}
.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /*font-weight: 900;*/
}
body{
    background-color: #010101;
    color: white;
    font-family: raleway, sans-serif;
    line-height: 1.55;
}
.container_main{
    position: relative;
}
.layers{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layers_basic1,.layers_middle,.layers_front{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
}
.layers_basic1{
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}
.layers_middle{
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers_front{
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.main_article{
    min-height: 100vh;
}