*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

}
.raleway{
              font-family: "Raleway", sans-serif;
              font-optical-sizing: auto;
              /*font-weight: <weight>;*/
              font-style: normal;
          }